<h1>Shopping List</h1>

<p *ngIf="!shoppingItems"><em>Loading...</em></p>

<table class='table' *ngIf="shoppingItems">
  <thead>
    <tr>
      <th>Qauntity</th>
      <th>Quantity Type</th>
      <th>Name</th>
      <th>Recipes</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let shoppingItem of shoppingItems">
      <td>{{ shoppingItem.ingredient.quantity }}</td>
      <td>{{ shoppingItem.ingredient.quantityType }}</td>
      <td>{{ shoppingItem.ingredient.name }}</td>
      <td>{{ shoppingItem.recipeNames.join('; ') }}</td>
    </tr>
  </tbody>
</table>
